<template>
  <div>
    <compLayout>
      <h1>{{cName}}</h1>
      <h2 id="GS">概述</h2>
      <p>概述描述</p>
      <markdown :mFile="mFile"></markdown>
    </compLayout>
  </div>
</template>

<script>

export default {
  name: '{{eName}}Page',
  props: {},
  components: {
  },
  data () {
    return {
      mFile: 'src/views/components/{{eName}}Page/{{eName}}Page.md'
    }
  },
  watch: {},
  computed: {},
  methods: {},
  created () { },
  activated () { },
  mounted () { },
  beforeDestroy () { }
}
</script>

<style lang="less">
</style>
