<template>
  <div>
    <compLayout>
      <h1>这是标题</h1>
      <h2 id="这是子标题">这是子标题</h2>
      <p>这是一个描述</p>
    </compLayout>
  </div>
</template>

<script>
import codeZen from '@/components/playground/codeZen.vue'
export default {
  name: 'controller.hbs',
  props: {},
  components: { codeZen },
  data () {
    return {
    }
  },
  watch: {},
  computed: {},
  methods: {
  },
  created () { },
  activated () { },
  mounted () {
  },
  beforeDestroy () { }
}
</script>

<style>
</style>
